<div class="row mb-2">
      <div class="col">
        <nav class="navbar fixed-top navbar-expand-md navbar-dark" style="background-color: #4B70F5;">

          <a href="" class="navbar-brand text-white ps-3 fw-bold">Yelp Camp</a>
          <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse me-2" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item"><a href="/campgrounds" class="nav-link active text-white">Campgrounds</a></li>
              <li class="nav-item"><a href="/campgrounds/new" class="nav-link active text-white">New Camp</a></li>
              <li class="nav-item"><a href="" class="nav-link active text-white">Home</a></li>
              <li class="nav-item"><a href="" class="nav-link active text-white">Register</a></li>
              <li class="nav-item"><a href="" class="nav-link active text-white">Login</a></li>
            </ul>
          </div>

        </nav>
      </div>
    </div>