<nav class="navbar sticky-top navbar-expand-md navbar-light bg-white shadow-sm mb-2">
    <div class="container-fluid">
        <a href="/" class="navbar-brand fw-bold text-secondary">
            <i class="bi-compass me-1"></i>
            Yelp Camp
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto">
                <li class="nav-item"><a href="/home" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="/campgrounds" class="nav-link">Campgrounds</a></li>
                <li class="nav-item"><a href="/campgrounds/new" class="nav-link">New Camp</a></li>
            </ul>
            <div class="d-flex">
                <a href="/login" class="btn btn-outline-dark me-2">
                    <i class="bi bi-box-arrow-in-right"></i> Login
                </a>
                <a href="/register" class="btn btn-success">
                    <i class="bi bi-person-plus-fill"></i> Register
                </a>
            </div>
        </div>
    </div>
</nav>